<!DOCTYPE html>
<html>
  <head>
    <title>Webstore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application','jquery', 'data-turbolinks-track' => true  %>
    <link href="https://fonts.googleapis.com/css?family=Karla|Shrikhand" rel="stylesheet">
  </head>

  <body>
    <p class="flash"><%= flash.notice %></p>
    <div id="top">
      <p class="logo">Parthiv's Garment Webstore</p>
      <img class="monkey" id="monkey1" src="https://i.pinimg.com/originals/d6/5b/7f/d65b7f9725b0d0af4d41fb58a34cdcb6.gif">
    </div>
    <div id="container">
      <ul class="navbar">
        <%= link_to_in_li "All", root_path, id: "home_link" %>
        <%= link_to_in_li "Accessories", "/tags/accessories" %>
        <%= link_to_in_li "Footwear", "/tags/footwear" %>
        <%= link_to_in_li "Outerwear", "/tags/outerwear" %>
        <%= link_to_in_li "Tops", "/tags/tops" %>
        <div class="login">
          <% if logged_in? %>
            <li>
              <p><%= "Logged in as #{current_user.email}" %></p>
            </li>
          <% end %>
          <li>
            <% if logged_in? %>
              <%= link_to "(logout)", logout_path %>
            <% else %>
              <%= link_to "(login)", login_path %>
            <% end %>
          </li>
        </div>
      </ul>
      <hr>
      <div id="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
